<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BassHeadsBG</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/error.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="context">
    <div class="under-construction">
    <h1 th:text="#{already_exists}"></h1>
    </div>
        <a th:href="@{/}" th:text="#{go_back}"></a>
</div>


<div class="area">
    <ul class="speakers">
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
        <li><img src="/images/BG.png"></li>
    </ul>
</div>
</body>
</html>