<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BassHeadsBG</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/got-bass-bgrd.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addDeviceFloatInput.js"></script>
    <script src="/js/center-align-inputs.js"></script>
    <script src="/js/max-file-size.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/websocket.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'device-dropdown'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Upload Cable</h2>
    <div class="alert alert-danger text-center" th:if="${errorMessage}" role="alert">
        <h3 th:text="${errorMessage}"></h3>
    </div>
    <form
            th:action="@{/cables/power-cables/edit/{id}(id=${cableDetails.id}}"
            th:method="post"
            th:object="${cableDetails}"
            enctype="multipart/form-data"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <input type="hidden" name="id" th:value="${cableDetails.id}" />
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="brand" class="text-white font-weight-bold" th:text="#{brand}"></label>
                <input th:field="*{brand}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="text"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{brand}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="model" class="text-white font-weight-bold" th:text="#{model}"></label>
                <input th:field="*{model}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="text"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{model}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold" th:text="#{price}"></label>
                <input th:field="*{price}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{price}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="impedance" class="text-white font-weight-bold" th:text="#{length}"></label>
                <input th:field="*{length}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       placeholder="m"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{length}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="material" class="text-white font-weight-bold" th:text="#{cable_material}"></label>
                <select th:field="*{material}" class="form-control" required
                        th:classappend="${#fields.hasErrors('material')} ? 'is-invalid' : ''">
                    <option value="">Material</option>
                    <option th:each="material : ${T(com.bg.bassheadsbg.model.enums.CableMaterial).values()}"
                            th:value="${material.name()}" th:text="${material.name()}"></option>
                </select>
                <small class="text-danger invalid-feedback" th:if="${#fields.hasErrors('material')}"
                       th:errors="*{material}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="thickness" class="text-white font-weight-bold" th:text="#{thickness}"></label>
                <input th:field="*{thickness}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="mm2"/>
                <small class="text-danger invalid-feedback" th:errors="*{thickness}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="description" class="text-white font-weight-bold" th:text="#{description}"></label>
                <textarea
                        th:field="*{description}"
                        th:errorclass="'is-invalid bg-danger'"
                        class="form-control"
                        rows="5"
                        placeholder="Text..."
                        style="resize: vertical;"
                ></textarea>
                <small class="text-danger invalid-feedback" th:errors="*{description}"></small>
            </div>
        </div>

        <hr class="mt-3 mb-3"/>
        <h3 th:classappend="${#fields.hasErrors('imageFiles')} ? 'bg-danger' : ''" class="text-center text-white"
            th:text="#{images}">

        </h3>
        <div class="row device-images pb-1">
            <div class="col-md-12">
                <!-- Single image file input allowing multiple file selection -->
                <div class="input-group mb-3">
                    <input type="file" th:field="*{imageFiles}" class="form-control" accept="image/*" multiple>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{upload_cable}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/chat::chat}"></div>
<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
