* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(84, 91, 98, 0.5),
            rgba(84, 91, 98, 0.3)),
        url(/img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    gap: 5em;
}

header {
    width: 100%;
}

nav {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(84, 91, 98, 0.5),
            rgba(84, 91, 98, 0.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px 50px 50px;
    padding: 2em;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

nav img {
    width: 150px;
    height: 120px;
    background-color: #0307fd00;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #8f8f8fe0;
    text-align: center;
    margin: 1em;
}

/* nav ul li {
    animation: pulsate 1.5s infinite alternate;
    padding: 0.4em;
    background-color:
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
} */

nav ul li {
    width: 105px;
    height: 50px;
    align-content: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#shop-button {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;

}

#shop-button i {
    transition: background-color 0.3s ease;
    padding: 0.2em;
    border-radius: 0.3em;
}

#shop-button:hover i {
    background-color: yellow;
    color: black;
}

/* 0 0 7px #fff,
0 0 10px #fff,
0 0 21px #fff, */
.neonText {
    color: #fff;
    text-shadow:
        0 0 42px rgb(47, 0, 255),
        0 0 82px rgb(47, 0, 255),
        0 0 92px rgb(47, 0, 255),
        0 0 102px rgb(47, 0, 255),
        0 0 151px rgb(47, 0, 255);
}

body {
    font-size: 18px;
    font-family: "Sacramento", sans-serif;
}

h1,
h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

/* animation: pulsate 5s infinite alternate; */
h1 {
    font-size: 6.2rem;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
}

@keyframes pulsate {
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(47, 0, 255),
            0 0 80px rgb(47, 0, 255),
            0 0 90px rgb(47, 0, 255),
            0 0 100px rgb(47, 0, 255),
            0 0 150px rgb(47, 0, 255);
    }
    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px rgb(47, 0, 255),
            0 0 45px rgb(47, 0, 255),
            0 0 55px rgb(47, 0, 255),
            0 0 70px rgb(47, 0, 255),
            0 0 80px rgb(47, 0, 255);
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px); /* Apply a blur filter */
}

#overlay-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#overlay-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#continue-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #f39c12;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#continue-button:hover {
    background-color: #e67e22;
}

/* Css for login/register
/* Dropdown Button */
.dropbtn {
background-color: #00000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus, nav ul li:hover, nav ul li:focus {
  background-color: #1350f7;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7c7c7c73;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #7c7c7c;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#register {
align-self: center;
text-align: center;
}

#register:hover {
    color: rgb(47, 0, 255);
}