* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(84, 91, 98, 0.5),
            rgba(84, 91, 98, 0.3)),
        url(/img/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Vibur", sans-serif;
    gap: 5em;
}

header {
    width: 100%;
}

nav {
    color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(84, 91, 98, 0.5),
            rgba(84, 91, 98, 0.3));
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px 50px 30px;
    padding: 0.5em 3em 0.5em 3em;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

nav img {
    width: 150px;
    height: 120px;
    background-color: #0307fd00;
}

nav .nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    background-color: #8f8f8fe0;
    text-align: center;
    margin: 1em;
    border-radius: 5px;
}

/* nav ul li {
    animation: pulsate 1.5s infinite alternate;
    padding: 0.4em;
    background-color:
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
} */

nav .nav-buttons button {
    width: 105px;
    height: 50px;
    align-content: center;
}

nav .nav-buttons button {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
}

#shop-button {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;
}

#shop-button i {
    transition: background-color 0.3s ease;
    padding: 0.2em;
    border-radius: 0.3em;
}

#shop-button:hover i {
    background-color: yellow;
    color: black;
}

.neonText {
    color: #fff;
background: rgba(47, 0, 255, 0.31);
border-radius: 16px;
backdrop-filter: blur(2.3px);
-webkit-backdrop-filter: blur(2.3px);
border: 1px solid rgba(47, 0, 255, 0.1);
    text-shadow:
        0 0 42px rgb(47, 0, 255),
        0 0 82px rgb(47, 0, 255),
        0 0 92px rgb(47, 0, 255),
        0 0 102px rgb(47, 0, 255),
        0 0 151px rgb(47, 0, 255);
}

body {
    font-size: 18px;
    font-family: "Sacramento", sans-serif;
}

h1,
h2 {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}

/* animation: pulsate 5s infinite alternate; */
h1 {
    font-size: 6.2rem;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem rgb(47, 0, 255),
        0 0 0.8rem rgb(47, 0, 255),
        0 0 2.8rem rgb(47, 0, 255),
        inset 0 0 1.3rem rgb(47, 0, 255);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
    /* Apply a blur filter */
}

#overlay-content {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#overlay-content p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.entrance-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.entrance-button {
    width: 170px;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#continue-button {
    background-color: #51ff00;
}

#continue-button:hover {
    background-color: #6bca68;
}

#continue-button-noaudio {
    background-color: #ff0000;
}

#continue-button-noaudio:hover {
    background-color: #c71508;
}

/* Css for login/register
/* Dropdown Button */
nav button,
.dropbtn {
    background-color: #00000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/* Dropdown button on hover & focus */
nav button:hover,
.dropbtn:hover {
    background-color: #1350f7;
    border-radius: 3px;
    transition: 0.5s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #7c7c7c73;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #7c7c7c;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
    border-radius: 15px;
    overflow-x: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9),
        /* larger outer shadow */
        0px 0px 30px 10px rgba(0, 0, 0, 0.5);
    /* inner spotlight effect */
    padding: 0.5em;
    transform: translate(-38px, 1px);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#login,
#register {
    width: 100%;
    height: 45px;
    align-self: center;
    text-align: center;
    color: #fff;
}

#login:hover,
#register:hover {
    background-color: rgb(47, 0, 255);
}