<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>BassHeadsBG</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'add-offer'})}"></div>

<div class="container">
    <h2 class="text-center text-white">Upload Offer</h2>
    <form
        th:action="@{/offers/add}"
        th:method="post"
        th:object="${addOfferDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="brand" class="text-white font-weight-bold">Brand</label>
                <input th:field="*{brand}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="text"
                       class="form-control"
                       placeholder="Brand"/>
                <small class="text-danger invalid-feedback" th:errors="*{brand}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="model" class="text-white font-weight-bold">Model</label>
                <input th:field="*{model}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="text"
                       class="form-control"
                       placeholder="Model"/>
                <small class="text-danger invalid-feedback" th:errors="*{model}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="sensitivity" class="text-white font-weight-bold">Sensitivity</label>
                <input th:field="*{sensitivity}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Sensitivity"/>
                <small class="text-danger invalid-feedback" th:errors="*{sensitivity}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="size" class="text-white font-weight-bold">Size</label>
                <input th:field="*{size}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Size"/>
                <small class="text-danger invalid-feedback" th:errors="*{size}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="frequencyResponse" class="text-white font-weight-bold">Frequency Response</label>
                <input th:field="*{frequencyResponse}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Fs"/>
                <small class="text-danger invalid-feedback" th:errors="*{frequencyResponse}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="numberOfCoils" class="text-white font-weight-bold">Number of coils</label>
                <input th:field="*{numberOfCoils}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Number of coils"/>
                <small class="text-danger invalid-feedback" th:errors="*{numberOfCoils}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="coilHeight" class="text-white font-weight-bold">Coil height in mm</label>
                <input th:field="*{coilHeight}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Coil Height"/>
                <small class="text-danger invalid-feedback" th:errors="*{coilHeight}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="coilLayers" class="text-white font-weight-bold">Coil Layers</label>
                <input th:field="*{numberOfCoils}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Number of layers"/>
                <small class="text-danger invalid-feedback" th:errors="*{numberOfCoils}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="impedance" class="text-white font-weight-bold">Impedance Ω</label>
                <input th:field="*{impedance}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Impedance"/>
                <small class="text-danger invalid-feedback" th:errors="*{impedance}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="powerHandling" class="text-white font-weight-bold">Power handling (RMS)</label>
                <input th:field="*{powerHandling}"
                       th:errorclass="'is-invalid alert bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="RMS"/>
                <small class="text-danger invalid-feedback" th:errors="*{powerHandling}"></small>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
