<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>BassHeadsBG</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/got-bass-bgrd.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addDeviceFloatInput.js"></script>
    <script src="/js/center-align-inputs.js"></script>
    <script src="/js/addImageInput.js" defer></script>
    <script src="/js/fieldsValidation.js"></script>
</head>

<body>

<div th:replace="~{fragments/navbar::navbar(activeLink=${'device-dropdown'})}"></div>

<div class="container">
    <h2 class="text-center text-white" th:text="#{update_subwoofer}"></h2>
    <form
            th:action="@{/speakers/subwoofers/edit/{id}(id=${subwooferDetails.id})}"
            th:method="post"
            th:object="${subwooferDetails}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <input type="hidden" name="id" th:value="${subwooferDetails.id}" />
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="brand" class="text-white font-weight-bold" th:text="#{brand}"></label>
                <input th:field="*{brand}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="text"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{brand}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="model" class="text-white font-weight-bold" th:text="#{model}"></label>
                <input th:field="*{model}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="text"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{model}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="price" class="text-white font-weight-bold" th:text="#{price}"></label>
                <input th:field="*{price}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{price}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="sensitivity" class="text-white font-weight-bold" th:text="#{sensitivity}"></label>
                <input th:field="*{sensitivity}"
                       th:errorclass="'is-invalid bg-danger'"
                       step="any"
                       type="number"
                       class="form-control"
                       placeholder="dB ( 1W / 1m )"/>
                <small class="text-danger invalid-feedback" th:errors="*{sensitivity}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="size" class="text-white font-weight-bold" th:text="#{size}"></label>
                <input th:field="*{size}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{size}"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="frequencyResponse" class="text-white font-weight-bold" th:text="#{frequency_response}"></label>
                <input th:field="*{frequencyResponse}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="Fs"/>
                <small class="text-danger invalid-feedback" th:errors="*{frequencyResponse}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="numberOfCoils" class="text-white font-weight-bold" th:text="#{number_of_coils}"></label>
                <input th:field="*{numberOfCoils}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="0"/>
                <small class="text-danger invalid-feedback" th:errors="*{numberOfCoils}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="coilHeight" class="text-white font-weight-bold" th:text="#{coil_height_in_mm}"></label>
                <input th:field="*{coilHeight}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="Coil Height"/>
                <small class="text-danger invalid-feedback" th:errors="*{coilHeight}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="coilLayers" class="text-white font-weight-bold" th:text="#{coil_layers}"></label>
                <input th:field="*{coilLayers}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"/>
                <small class="text-danger invalid-feedback" th:errors="*{coilLayers}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="impedance" class="text-white font-weight-bold" th:text="#{impedance}"></label>
                <input th:field="*{impedance}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="Ω"/>
                <small class="text-danger invalid-feedback" th:errors="*{impedance}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="powerHandling" class="text-white font-weight-bold" th:text="#{power_handling_rms}"></label>
                <input th:field="*{powerHandling}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="W"/>
                <small class="text-danger invalid-feedback" th:errors="*{powerHandling}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="magnetSize" class="text-white font-weight-bold" th:text="#{magnet_size}"></label>
                <input th:field="*{magnetSize}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="magnetSize"/>
                <small class="text-danger invalid-feedback" th:errors="*{magnetSize}"></small>
            </div>
        </div>
        <hr class="mt-3 mb-3"/>
        <h3 class="text-center text-white" th:text="#{ts_parameters}"></h3>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="vas" class="text-white font-weight-bold">Vas</label>
                <input th:field="*{vas}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="Vas"/>
                <small class="text-danger invalid-feedback" th:errors="*{vas}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="xmax" class="text-white font-weight-bold">Xmax</label>
                <input th:field="*{xmax}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       class="form-control"
                       placeholder="xmax"/>
                <small class="text-danger invalid-feedback" th:errors="*{xmax}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="qms" class="text-white font-weight-bold">Qms</label>
                <input th:field="*{qms}"
                       th:errorclass="'is-invalid bg-danger'"
                       step="any"
                       type="number"
                       class="form-control"
                       placeholder="qms"/>
                <small class="text-danger invalid-feedback" th:errors="*{qms}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="qes" class="text-white font-weight-bold">Qes</label>
                <input th:field="*{qes}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="qes"/>
                <small class="text-danger invalid-feedback" th:errors="*{qes}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="qts" class="text-white font-weight-bold">Qts</label>
                <input th:field="*{qts}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="qts"/>
                <small class="text-danger invalid-feedback" th:errors="*{qts}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="sd" class="text-white font-weight-bold">Sd</label>
                <input th:field="*{sd}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="sd"/>
                <small class="text-danger invalid-feedback" th:errors="*{sd}"></small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label th:for="bl" class="text-white font-weight-bold">Bl</label>
                <input th:field="*{bl}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="bl"/>
                <small class="text-danger invalid-feedback" th:errors="*{bl}"></small>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label th:for="mms" class="text-white font-weight-bold">Mms</label>
                <input th:field="*{mms}"
                       th:errorclass="'is-invalid bg-danger'"
                       type="number"
                       step="any"
                       class="form-control"
                       placeholder="mms"/>
                <small class="text-danger invalid-feedback" th:errors="*{mms}"></small>
            </div>
        </div>
        <hr class="mt-3 mb-3"/>
        <h3 th:classappend="${#fields.hasErrors('images')} ? 'bg-danger' : ''" class="text-center text-white">
            Images
        </h3>
        <div class="row device-images pb-1">
            <div id="image-inputs" class="col-md-12">
                <div th:each="image, iterStat : ${subwooferDetails.images}">
                    <div class="input-group mb-3">
                        <input type="text" th:value="${image}" th:field="*{images[__${iterStat.index}__]}"
                               class="form-control" placeholder="URL"
                               th:classappend="${#fields.hasErrors('images[__${iterStat.index}__]')} ? 'text-danger bg-warning' : ''">
                        <div class="input-group-append">
                            <!--            Items will be added here                -->
                            <button class="btn btn-danger" type="button" onclick="removeImageInput(this)" th:text="#{remove}"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="add-image-button" th:text="#{add_image}"></button>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" th:value="#{upload_subwoofer}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer::footer}"></div>

</body>
</html>
